{% extends 'base.html.twig' %}

{% block title %} ERROR {% endblock %}

{% block body %}
    <div style="background-color: #eb305a">
        <img src="https://artismedia.by/blog/wp-content/uploads/2018/05/in-blog2-1.png"
        style="display: block; margin: auto">
    </div>
{% endblock %}