@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: spartan, serif;
    color: #807d7d;
    /*background-color: #ffffff;*/
    background-color: rgb(24, 26, 27);
}

footer {
    background-color: rgb(33, 36, 37) !important;
}

.jumbotron-img {
    background: rgb(237, 116, 88);
    background: linear-gradient(302deg, rgb(84, 145, 33) 16%, rgb(37, 49, 66) 97%);
    color: #fff;
}

.bg-light {
    background-color: rgb(27, 30, 31) !important;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: rgb(33, 36, 37);
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #409335;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background-color: rgb(34, 41, 42);
    border-radius: .25rem;
}

.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}

.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #365032;
    color: #fff;
}

.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}

.vote-arrows {
    font-size: 1.5rem;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-arrows a {
    color: #444;
}

.vote-up:hover {
    color: #3D9970;
}

.vote-down:hover {
    color: #FF4136;
}

.btn-post {
    color: #FFFFFF;
    background-color: #409335;
    border-color: #1a3f12;
}

.btn-post:hover,
.btn-post:focus,
.btn-post:active,
.btn-post.active,
.open .dropdown-toggle.btn-post {
    color: #FFFFFF;
    background-color: #D45B3F;
    border-color: #D45B3F;
}

.btn-post:active,
.btn-post.active,
.open .dropdown-toggle.btn-post {
    background-image: none;
}

.btn-secondary {
    background-color: #1c7430 !important;
}
.btn-secondary:hover {
    background-color: #23b445 !important;
}

.btn-dark {
    background-color: #0c5460;
}

.btn-dark:hover {
    background-color: #0f7083;
}

.btn-post.disabled,
.btn-post[disabled],
fieldset[disabled] .btn-post,
.btn-post.disabled:hover,
.btn-post[disabled]:hover,
fieldset[disabled] .btn-post:hover,
.btn-post.disabled:focus,
.btn-post[disabled]:focus,
fieldset[disabled] .btn-post:focus,
.btn-post.disabled:active,
.btn-post[disabled]:active,
fieldset[disabled] .btn-post:active,
.btn-post.disabled.active,
.btn-post[disabled].active,
fieldset[disabled] .btn-post.active {
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-post .badge {
    color: #ED7458;
    background-color: #FFFFFF;
}

.tech-info-likes {
    color: #1b1e21;
}
